* {
    padding: 0;
    margin: 0;
}

#siteDetails {
    background-color: #5CDB95;
    padding: 2%;
}

#heading {
    font-size: 500%;
    color: #021935;
}

#heading a {
    text-decoration: none;
    color: #021935;
}

#tagline {
    font-size: 200%;
    color: #EDF5E1;
}

.inpus-main {
    width: 100%;
    text-align: center;
    align-items: center;
    align-self: center;
}

#inpus-back, #inpus-display-1, #inpus-display-2, #inpus-reload-list {
    display: none;
    width: auto;
    margin: auto;
    text-align: center;
}

#inpus-display-1 {
    width: 90%;
}

#inpus-display-2 {
    width: 50%;

}

#inpus-dropdown > b > a {
    text-decoration: none;
    cursor: pointer;
    width: auto;
}

#inpus-back {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border: none;
    background-color: #021935;
    color: #EDF5E1;
    cursor: pointer;
}

.inpus-head {
    padding: 5%;
    background-color: #05386B;
    text-align: justify;
    color: #EDF5E1;
    padding-left: 10%;
    text-align: center;
}

.inpus-item {
    padding: 5%;
    background-color: #021935;
    text-align: center;
    color: #EDF5E1;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
}

.inpus-display2-item {
    padding: 5%;
    background-color: #021935;
    text-align: left;
    color: #EDF5E1;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    cursor: text;
}

.inpus-display2-first {
    background-color: #05386B;
}

.inpus-item-first {
    border-right: 1px solid rgba(255,255,255,0.1);
}

.align-vertical-center {
    padding-top: 15%;
}

#inpus-reload-list {
    cursor: pointer;
    text-align: right;
    margin: auto;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 10%;
}

#inpus-reload-list button {
    padding: 10%;
    border: none;
    background-color: #021935;
    color: #EDF5E1;
    cursor: pointer;
}

#miniSuggestions {
    width: 100%;
    background-color: #EDF5E1;
    color: #021935;
}

.minisearchItem {
    width: 100%;
    padding: 2%;
    border: 1px solid #02193511;
    cursor: pointer;
}

